{###########################################

Purpose:
Generating Syslog Configuration
############################################}
{% if sflow.sflow_enable == "false" %}
no sflow enable
{% elif sflow.sflow_enable == "true" %}
sflow hardware acceleration
sflow run
{% for collector in sflow.collector %}
{% if collector.state == "absent" %}
no sflow destination {{ collector.collector_ip }}
{% elif collector.state == "present" %}
{% if sflow.vrf is defined and sflow.vrf %}
sflow destination {{ collector.collector_ip }} vrf {{ sflow.vrf }} {{ collector.udp_port }}
{% else %}
sflow destination {{ collector.collector_ip }} {{ collector.udp_port }}
{% endif %}
{% endif %}
{% endfor %}
{% if sflow.polling_interval is defined and sflow.polling_interval %}
sflow polling-interval {{ sflow.polling_interval }}
{% endif %}
{% if sflow.sample_rate is defined and sflow.sample_rate %}
sflow sample {{ sflow.sample_rate }}
{% endif %}
{% if sflow.bgp is defined and sflow.bgp|lower == "enabled" %}
sflow extension bgp
{% endif %}
{% if sflow.src_intf is defined and sflow.src_intf %}
sflow source-interface {{ sflow.src_intf }}
{% endif %}
!
{% endif %}
{% for port in sflow.port %}
interface {{ port.id }}
{% if port.state == "absent" %}
 no sflow enable
{% elif port.state == "present" %}
 sflow enable
{% endif %}
!
{% endfor %}
