{###########################################

Purpose:
Generating Multitanency VRF Intance Configuration
############################################}
{% if evpn is defined and evpn %}
{% for vrfi in evpn.vrf %}
vrf instance {{ vrfi.name }}
!
ip routing vrf {{ vrfi.name }}
!
{# interface Vlan{{ vrfi.l3_vni.vlan }}
  description "VRF {{ vrfi.name }} L3VNI Vlan"
  vrf {{ vrfi.name }}
  ip address virtual {{ vrfi.l3_vni.addr_v4 }}
{% if vrfi.l3_vni.addr_v6 %}
  ipv6 address virtual {{ vrfi.l3_vni.addr_v6 }}
{% endif %}
  mtu {{ phy_mtu }}
  no autostate
! #}
{% if vrfi.interfaces is defined and vrfi.interfaces %}
{% for intf in vrfi.interfaces %}
interface {{ intf.name }}
  description "VRF_{{ vrfi.name }} {{ intf.desc }}"
  vrf {{ vrfi.name }}
  no ip address
  ip address {{ intf.addr_v4 }}
{% if intf.addr_v6 is defined and intf.addr_v6 %}
  no ipv6 address
  ipv6 address {{ intf.addr_v6 }}
{% endif %}
!
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}