{##################################################

Purpose:
Generating BGP Dual-Stack Underlay Configuration
###################################################}
router bgp {{ bgp.local_as }}
  router-id {{ lpbk0.addr_v4 }}
  distance bgp 20 200 200
  bgp bestpath as-path multipath-relax
  bgp log-neighbor-changes
  maximum-paths 4 ecmp 4
  no bgp bestpath ecmp-fast
  !
  neighbor fabric_peer_v4 peer group
{# neighbor fabric_peer_v4 advertisement-interval 5 #}
  neighbor fabric_peer_v4 timers 3 9
{# neighbor fabric_peer_v4 capability extended-nexthop #}
  neighbor fabric_peer_v4 bfd
  neighbor fabric_peer_v4 allowas-in
  neighbor fabric_peer_v4 send-community standard extended
  neighbor fabric_peer_v4 remote-as {{ bgp.remote_as }}
  neighbor fabric_peer_v4 route-map SEND-COMMUNITY out
  neighbor fabric_peer_v4 maximum-routes 12000
  !
  neighbor tor_peer_v4 peer group
{# neighbor tor_peer_v4 advertisement-interval 5 #}
  neighbor tor_peer_v4 timers 3 9
{# neighbor tor_peer_v4 capability extended-nexthop #}
  neighbor tor_peer_v4 bfd
  neighbor tor_peer_v4 allowas-in
  neighbor tor_peer_v4 send-community standard extended
  neighbor tor_peer_v4 remote-as {{ bgp.local_as }}
  neighbor tor_peer_v4 update-source Vlan{{ vlans.pair_vlan.id }}
  !
  neighbor fabric_peer_v6 peer group
{# neighbor fabric_peer_v6 advertisement-interval 5 #}
  neighbor fabric_peer_v6 timers 3 9
{# neighbor fabric_peer_v6 capability extended-nexthop #}
  neighbor fabric_peer_v6 bfd
  neighbor fabric_peer_v6 allowas-in
  neighbor fabric_peer_v6 send-community standard extended
  neighbor fabric_peer_v6 remote-as {{ bgp.remote_as }}
  neighbor fabric_peer_v6 route-map SEND-COMMUNITY out
  neighbor fabric_peer_v6 maximum-routes 12000
  !
  neighbor tor_peer_v6 peer group
{# neighbor tor_peer_v6 advertisement-interval 5 #}
  neighbor tor_peer_v6 timers 3 9
{# neighbor tor_peer_v6 capability extended-nexthop #}
  neighbor tor_peer_v6 bfd
  neighbor tor_peer_v6 allowas-in
  neighbor tor_peer_v6 send-community standard extended
  neighbor tor_peer_v6 remote-as {{ bgp.local_as }}
  neighbor tor_peer_v6 update-source Vlan{{ vlans.pair_vlan.id }}
  !
  neighbor DEFAULT-ONLY peer group
  neighbor DEFAULT-ONLY remove-private-as
  neighbor DEFAULT-ONLY update-source Loopback1
  neighbor DEFAULT-ONLY rib-in pre-policy retain all
  neighbor DEFAULT-ONLY ebgp-multihop 3
  neighbor DEFAULT-ONLY route-map DEFAULT-ONLY-CUSTOMERS-OUT out
  neighbor DEFAULT-ONLY maximum-routes 12000
  !
  neighbor DEFAULT-ONLY-VCF peer group
  neighbor DEFAULT-ONLY-VCF remote-as 65401
  neighbor DEFAULT-ONLY-VCF local-as 65400 no-prepend replace-as
  neighbor DEFAULT-ONLY-VCF rib-in pre-policy retain all
  neighbor DEFAULT-ONLY-VCF route-map DEFAULT-ONLY-CUSTOMERS-OUT out
  neighbor DEFAULT-ONLY-VCF maximum-routes 200
  !
  neighbor NO-SEND peer group
  neighbor NO-SEND remove-private-as
  neighbor NO-SEND update-source Loopback1
  neighbor NO-SEND rib-in pre-policy retain all
  neighbor NO-SEND ebgp-multihop 3
  neighbor NO-SEND route-map NO-SEND-CUSTOMERS-OUT out
  neighbor NO-SEND maximum-routes 12000
  !
  neighbor SDDC-IGP peer group
  neighbor SDDC-IGP remote-as {{ bgp.local_as }}
  neighbor SDDC-IGP next-hop-self
  neighbor SDDC-IGP route-map SDDC-IGP out
  neighbor SDDC-IGP send-community standard extended
  !
  neighbor VCF-IGP peer group
  neighbor VCF-IGP remote-as {{ bgp.local_as }}
  neighbor VCF-IGP next-hop-self
  neighbor VCF-IGP rib-in pre-policy retain all
  neighbor VCF-IGP route-map VCF-IGP-OUT out
  neighbor VCF-IGP send-community standard extended
  neighbor VCF-IGP maximum-routes 200
  !
{% for peer in bgp.fabric_peer_v4 %}
{% if seq is odd %}
  neighbor {{ peer }} description "s{{loop.index}}g1"
{% else %}
  neighbor {{ peer }} description "s{{loop.index}}g2"
{% endif %}
  neighbor {{ peer }} peer group fabric_peer_v4
  no shutdown
  !
{% endfor %}
{% for peer in bgp.fabric_peer_v6 %}
{% if seq is odd %}
  neighbor {{ peer }} description "s{{loop.index}}g1"
{% else %}
  neighbor {{ peer }} description "s{{loop.index}}g2"
{% endif %}
  neighbor {{ peer }} peer group fabric_peer_v6
  no shutdown
  !
{% endfor %}
{% if seq is even %}
  neighbor {{ tor_pair_netv4 | ansible.utils.ipaddr(1) | ansible.utils.ipaddr('address') }} description "tor_pair_ibgp_v4"
  neighbor {{ tor_pair_netv4 | ansible.utils.ipaddr(1) | ansible.utils.ipaddr('address') }} peer group tor_peer_v4
{% else %}
  neighbor {{ tor_pair_netv4 | ansible.utils.ipaddr(2) | ansible.utils.ipaddr('address') }} description "tor_pair_ibgp_v4"
  neighbor {{ tor_pair_netv4 | ansible.utils.ipaddr(2) | ansible.utils.ipaddr('address') }} peer group tor_peer_v4
{% endif %}
  !
{% if tor_pair_netv6 is defined and tor_pair_netv6 %}
{% if seq is even %}
  neighbor {{ tor_pair_netv6 | ansible.utils.ipaddr(1) | ansible.utils.ipaddr('address') }} description "tor_pair_ibgp_v6"
  neighbor {{ tor_pair_netv6 | ansible.utils.ipaddr(1) | ansible.utils.ipaddr('address') }} peer group tor_peer_v6
{% else %}
  neighbor {{ tor_pair_netv6 | ansible.utils.ipaddr(2) | ansible.utils.ipaddr('address') }} description "tor_pair_ibgp_v6"
  neighbor {{ tor_pair_netv6 | ansible.utils.ipaddr(2) | ansible.utils.ipaddr('address') }} peer group tor_peer_v6
{% endif %}
  !
{% endif %}
  address-family ipv4
{% if bgp.afi.ipv4 is defined and bgp.afi.ipv4 %}
{% for redis in bgp.afi.ipv4 %}
{% if redis.r_map %}
    redistribute {{ redis.proto }} route-map {{ redis.r_map }}
{% else %}
    redistribute {{ redis.proto }}
{% endif %}
{% endfor %}
{% endif %}
    neighbor fabric_peer_v4 activate
    neighbor tor_peer_v4 activate
    !
  address-family ipv6
{% if bgp.afi.ipv6 is defined and bgp.afi.ipv6 %}
{% for redis in bgp.afi.ipv6 %}
{% if redis.r_map %}
    redistribute {{ redis.proto }} route-map {{ redis.r_map }}
{% else %}
    redistribute {{ redis.proto }}
{% endif %}
{% endfor %}
{% endif %}
    neighbor fabric_peer_v6 activate
    neighbor tor_peer_v6 activate
  !
{% if bgp.flowspec.ipv4 is defined and bgp.flowspec.ipv4|lower == "enable" %}
  address-family flow-spec ipv4
    neighbor fabric_peer_v4 activate
    neighbor tor_peer_v4 activate
  !
{% endif %}
{% if bgp.flowspec.ipv6 is defined and bgp.flowspec.ipv6|lower == "enable" %}
  address-family flow-spec ipv6
    neighbor fabric_peer_v6 activate
    neighbor tor_peer_v6 activate
  !
{% endif %}
!


