{###########################################

Purpose:
Generating Interface Configuration
############################################}
{% for intf in edge_links %}
interface ethernet{{ intf.name }}
 description "{{ intf.desc }}"
 no switchport
{% if intf.vrf is defined and intf.vrf %}
 vrf {{ intf.vrf }}
{% endif %}
 ip address {{ intf.addr_v4 }}
{% if intf.net_v6 is defined and intf.net_v6 %}
 ipv6 address {{ intf.addr_v6 }}
{% endif %}
 mtu {{ phy_mtu }}
 no shutdown
!
{% endfor %}
