---
###################################################################
# General Data and Site Specific Data for all pods
###################################################################
sites:
{% for site in sites %}
# Site {{ "%02d" | format(loop.index) }}"
- name: {{ site.name }}
  status: {{ site.status }}
  asn: {{ site.asn }}
  time_zone: {{ site.time_zone }}
  description: {{ site.description }}
  physical_address: {{ site.physical_address }}
  shipping_address: {{ site.shipping_address }}
  latitude: {{ site.latitude }}
  longitude: {{ site.longitude }}
  contact_name: {{ site.contact_name }}
  contact_phone: {{ site.contact_phone }}
  contact_email: {{ site.contact_email }}
  region: {{ site.region }}
  slug: {{ site.slug }}
  comments: {{ site.comments|default(omit) }}
  int_prefixes:
{% set site_seq=loop.index %}
{% set site_supernet='10.0.0.0/8'|ipsubnet(16,site_seq) %}
{% set site_ptp_net=site_supernet|ipsubnet(24,1) %}
{% set site_vlan_net=site_supernet|ipsubnet(24,5) %}
{% set site_tenant_net=site_supernet|ipsubnet(21,1) %}
{% for seq in range(12)%}
  - prefix: {{site_ptp_net | ipsubnet(31, seq)}}
    description: "Fabric PTP Seq#{{ "%02d" | format(seq+1) }}"
{% endfor %}
  vlans:
{% set t,i=0,0 %}
{% for vlan in site.vlans %}
  - name: {{ vlan.name }}
    tenant: {{ vlan.tenant }}
{% if vlan.tenant|lower == 'internal' %}
    vid: {{901+i }}
    prefix: {{ site_vlan_net | ipsubnet(26, i) }}
{% else %}
    vid: {{101+t }}
    prefix: {{ site_tenant_net | ipsubnet(26, t) }}
{% endif %}
    tenant: {{ vlan.tenant }}
    status: {{ vlan.status }}
{% set i=i+1 %}
{% set t=t+1 %}
{% endfor %}
  racks:
{% for rack in site.racks %}
{% for rl in rack.rack_list %}
  - name: {{ site.name }}_rack_{{ "%02d" | format(rl) }}
    rack_role: "{{ rack.role }}"
    status: {{ rack.status }}
{% endfor %}
{% endfor %}
{% endfor %}
