device_list:
{% for site in sites %}
{% for n in range(2) %}
- name: {{ site.name }}-spine{{ "%02d" | format(n+1) }}
  device_type: ceos_switch
  device_role: spine
  site: {{ site.name }}
  rack: "{{ site.name }}_rr_4"
  position: {{ 40-n }}
  face: front
  status: active
  l3_interfaces:
    - name: Loopback0
      description: "Underlay LOOPBACK"
      type: virtual
      enabled: True
      mtu: 9216
      mgmt_only: False
      ipv4_address: "{{ lpbk_ulay_netv4 | ipsubnet(32, 101+n) }}"
      status: active
      tags: 
        - ospf_area_0
    - name: Loopback1
      description: "Overlay LOOPBACK"
      type: virtual
      enabled: True
      mtu: 9216
      mgmt_only: False
      ipv4_address: "{{ lpbk_olay_netv4 | ipsubnet(32, 101+n) }}"
      status: active
{% for m in range(6) %}
{% set link_seq=n+2*m %}
{% set fabric_ptp_subnetv4=fabric_ptp_netv4 | ipsubnet(31, link_seq) %}
    - name: Ethernet{{m}}
      description: "PTP Downward to leaf{{ "%02d" | format(m+1) }}"
      type: 10gbase-x-sfpp
      label: layer3
      enabled: True
      mtu: 9216
      mgmt_only: False
      ipv4_address: "{{ fabric_ptp_subnetv4 | ipaddr(0) }}"
      tags: 
        - p2p 
      status: active
      connection:
        device: {{ site.name }}-leaf{{ "%02d" | format(m+1) }}
        int: Ethernet{{32-m}}
{% endfor %}
    - name: Management0
      description: "MGMT-INTERFACE"
      type: 10gbase-x-sfpp
      label: mgmt
      enabled: True
      mtu: 9216
      mgmt_only: True
      ipv4_address: {{ oob_netv4 | ipaddr(101+n) }}
      vrf: MGMT
      status: active
  disabled_interfaces:
{% for d in range(6,26) %}
    - name: Ethernet{{d}}
      type: 10gbase-x-sfpp
      enabled: false
{% endfor %}
{% endfor %}
{% set vlan_list=[101,102,201,202,301,302] %}
{# {% set vlan_list=vxlans | json_query('[?state==`present`].vlan') %} #}
{% for n in range(6) %}
- name: {{ site.name }}-leaf{{ "%02d" | format(n+1) }}
  device_type: ceos_switch
  device_role: cleaf
  site: {{ site.name }}
  rack: "{{ site.name }}_rr_{{(n/2)|round(0,'floor')|int+1}}"
{% if n is even %}
  position: 40
{% else %}
  position: 39
{% endif %}
  face: front
  status: active
  l3_interfaces:
    - name: Loopback0
      description: "Underlay LOOPBACK"
      type: virtual
      enabled: True
      mtu: 9216
      mgmt_only: False
      ipv4_address: "{{ lpbk_ulay_netv4 | ipsubnet(32, 1+n)  }}"
      status: active
      tags: 
        - ospf_area_0
    - name: Loopback1
      description: "Overlay LOOPBACK"
      type: virtual
      enabled: True
      mtu: 9216
      mgmt_only: False
      ipv4_address: "{{ lpbk_olay_netv4 | ipsubnet(32, 1+n) }}"
      status: active
{% for m in range(2) %}
{% set link_seq=2*n+m %}
{% set fabric_ptp_subnetv4=fabric_ptp_netv4 | ipsubnet(31, link_seq) %}
    - name: Ethernet{{31+m}}
      description: "UPlink to Spine{{"%02d" | format(m+1)}}"
      type: 10gbase-x-sfpp
      label: layer3
      enabled: True
      mtu: 9216
      mgmt_only: False
      ipv4_address: "{{ fabric_ptp_subnetv4 | ipaddr(1) }}"
      tags: 
        - p2p 
      status: active
      connection:
        device: {{ site.name }}-spine{{ "%02d" | format(m+1) }}
        int: Ethernet{{n}}
{% endfor %}
    - name: Management0
      description: "MGMT-INTERFACE"
      type: 10gbase-x-sfpp
      label: mgmt
      enabled: True
      mtu: 9216
      mgmt_only: True
      ipv4_address: {{ oob_netv4 | ipaddr(1+1+n) }}
      vrf: MGMT
      status: active
  trunk_interfaces:
{% for t in range(2) %}
    - name: Port-Channel{{101+t}}
      description: "TRUNK TO Compute{{101+t}}"
      type: lag
      label: trunk
      enabled: True
      mtu: 9216
      mgmt_only: False
      mode: Tagged
      untagged_vlan: NATIVE_VLAN
{% for vid in vlan_list %}
      tagged_vlan_{{loop.index}}: {{ vid }}
{% endfor %}
{% endfor %}
    - name: Port-Channel999
      description: "TRUNK TO LEAF02-MLAG CTL"
      type: lag
      label: trunk
      enabled: True
      mtu: 9216
      mgmt_only: False
      mode: Tagged
      untagged_vlan: NATIVE_VLAN
{% for vid in vlan_list %}
      tagged_vlan_{{loop.index}}: {{ vid }}
{% endfor %}
  lag_interfaces:
{% for ll in range(2) %}
    - name: Ethernet{{ll}}
      description: "TRUNK TO Compute{{101+ll}}"
      type: 10gbase-x-sfpp
      label: lag_mem
      enabled: True
      mtu: 9216
      mgmt_only: False
      lag: Port-Channel{{101+ll}}
      connection:
        device: compute{{101+ll}}
{% if n is even %}
        int: eth0
{% else %}
        int: eth1
{% endif %}
{% endfor %}
{% for ll in range(2) %}
    - name: Ethernet{{27+ll}}
      description: "MLAG CTRL Link"
      type: 10gbase-x-sfpp
      label: lag_mem
      enabled: True
      mtu: 9216
      mgmt_only: False
      lag: Port-Channel999
      connection:
{% if n is even %}
        device: {{ site.name }}-leaf{{ "%02d" | format(n+2) }}
{% else %}
        device: {{ site.name }}-leaf{{ "%02d" | format(n+1) }}
{% endif %}
        int: Ethernet{{27+ll}}
{% endfor %}
  access_interfaces:
{% for ai in range(2) %}
    - name: Ethernet{{26+ai}}
      description: "Admin Access Port"
      type: 10gbase-x-sfpp
      label: access
      enabled: True
      status: active
      mtu: 9216
      mgmt_only: False
      mode: Access
      untagged_vlan: ADMIN
{% endfor %}
  disabled_interfaces:
{% for d in range(3,26) %}
    - name: Ethernet{{d}}
      type: 10gbase-x-sfpp
      enabled: false
{% endfor %}
{% endfor %}
{% endfor %}
